<!DOCTYPE html>
<html>
<head>
  <title>Music games</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_tag %>

  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>

    <%= render "shared/navbar" %>
  <div id="main-container" class="container">
    <%= yield %>
  </div>
</body>
</html>
